<form [formGroup]="driverForm" (ngSubmit)="onSubmit($event)">
  <div class="form-group">
    <label>
      Nombre
    </label>
    <input class="form-control" type="text" name="name" formControlName="name"/>
  </div>
  <div class="form-group">
    <label>
      Apellido
    </label>
    <input class="form-control" type="text" name="lastName" formControlName="lastName"/>
  </div>
  <div class="form-group">
    <label>
      Correo
    </label>
    <input class="form-control" type="text" name="email" formControlName="email"/>
  </div>
  <div class="form-group">
    <label>
      Fecha de registro
    </label>
    <input class="form-control" type="date" name="registerDate" formControlName="registerDate"/>
  </div>
  <div class="form-group">
    <label>
      Phone
    </label>
    <input class="form-control" type="text" name="phone" formControlName="phone"/>
    <input class="form-control" type="hidden" name="id" formControlName="id"/>
  </div>
  <button class="btn btn-primary"[disabled]="driverForm.invalid">Guardar</button>
  <button class="btn btn-secondary ml-2" [routerLink]="['/drivers']" routerLinkActive="router-link-active" >Cancelar</button>
</form>
