<h1>Autobuses</h1>
<a href="#" [routerLink]="['/', 'autobuses', 'add']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
  <i class="fas fa-plus fa-sm text-white-50"></i>
  Agregar
</a>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bus of buses">
      <td>{{bus.brand}}</td>
      <td>{{bus.model}}</td>
      <td>
        <button class="btn btn-primary" (click)="edit(bus.id)">Editar</button>
        <button class="btn btn-danger" (click)="delete(bus.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
