<form [formGroup]="routeForm" (ngSubmit)="onSubmit($event)">
  <div class="form-group">
    <label>
      Nombre
    </label>
    <input class="form-control" type="text" name="name" formControlName="name"/>
  </div>
  <div class="form-group">
    <label>
      Hora de primera salida
    </label>
    <input class="form-control" type="datetime-local" name="firstLeavingHour" formControlName="firstLeavingHour"/>
  </div>
  <div class="form-group">
      <label>
        Hora de ultima salida
      </label>
      <input class="form-control" type="datetime-local" name="lastLeavingHour" formControlName="lastLeavingHour"/>
    </div>
  <div class="form-group">
    <label>
      Intervalo de salidas en minutos
    </label>
    <input class="form-control" type="text" name="intervalInMinutes" formControlName="intervalInMinutes"/>
    <input class="form-control" type="hidden" name="id" formControlName="id"/>
  </div>
  <div class="row">
    <div class="col-6">
        <app-buses-list-editor [displayList]="displayBuses" [(buses)]="buses">
          </app-buses-list-editor>
    </div>
    <div class="col-6">
        <app-drivers-list-editor [displayList]="displayDrivers" [(driver)]="drivers">
          </app-drivers-list-editor>
    </div>
  </div>


  <button class="btn btn-primary"[disabled]="routeForm.invalid">Guardar</button>
  <button class="btn btn-secondary ml-2" [routerLink]="['/routes']" routerLinkActive="router-link-active" >Cancelar</button>
</form>
